<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>VoteApp</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-devide-width, initial-scale=1.0">
    <script src="js/libs/angular.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!--Needs internet connetion-->
    <!--Sunt si in folderul proiectului, dar nu am mai stat sa caut exact ce am nevoie -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> <script src="js/RegisterController.js"></script>
    <script src="js/AddPersonController.js"></script>
    <style>
        body, html{
            background-image: url("images/stamp.jpg");
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
            margin: auto;
        }
        div{
            opacity: 0.97;
        }
    </style>

</head>

<body class="view" ng-app = "AddPersonControllerModule">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="adminIndex.html">
            <img src="images/stema-romaniei-1200x800_c.jpg" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Logo" style="width: 50px;">
            Admin
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="adminIndex.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="adminIndex.html">Statistics</a>
                </li>
                 <!-- Dropdown -->
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Add
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="adminAddPerson.html">Add Person</a>
                        <a class="dropdown-item" href="adminAddParty.html">Add Party</a>
                        <a class="dropdown-item" href="adminAddPersonToParty">Add Person To Party</a>
                    </div>
      </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <br>
    <div ng-controller="AddPersonController" class="container col-sm-5">

        <div class="card">
            <div class="card-header">
                New Citizen Form
            </div>
            <div class="card-body">
                <form>
                   <div class="form-group">
                     <label for="cnp">Cnp</label>
                     <input ng-model="cnp" type="number" class="form-control" placeholder="Personal numeric code" required>   
                   </div>
                   <div class="form-group">
                    <label for="text">Last name</label>
                    <input ng-model="lname" type="text" class="form-control"  placeholder="Last name" required>   
                  </div>
                  <div class="form-group">
                    <label for="text">First name</label>
                    <input ng-model="fname" type="text" class="form-control"  placeholder="First name" required>   
                  </div>
                  <div class="form-group">
                    <label for="date">Date of birth</label>
                    <input ng-model="birthDate" type="date" class="form-control"  placeholder="Date of birth dd/MM/yyyy" required> 
                </div>
                  <div class="form-group">
                    <label for="text">Address</label>
                    <input ng-model="address" type="" class="form-control"  placeholder="Address">   
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary" ng-click="checkForm(cnp, lname, fname, birthDate, address)">Register</button>
                </form>
            </div>
            <div class="card-footer text-muted">
                <p>{{succsessMsg}}</p>
                <p>{{failureMsg}}</p>
            </div>    
                
        </div>

    </div>
    <br>
    


    
    
</body>



<footer>
</footer>
</html>